<navbar></navbar>

<div id="formulario" (keyup.enter)="register()">
    <input type="text" placeholder="Nombre de usuario" [(ngModel)]="username" name="username">
    <input type="password" placeholder="Contraseña" [(ngModel)]="password"name="password">
    <button (click)="register()">Register</button>
  </div>

  <div *ngIf="correct === aceptado">
    {{correct}}
    <div>
      Serás redireccionado al Login en breve. También puedes hacerlo tú desde el botón.
    </div>
    <button routerLink="/login" >Ve al Login</button>
  </div>

  <div *ngIf="correct !== aceptado">
      {{correct}}
 </div>
