<navbarprincipal></navbarprincipal>
<div id="container">
<div id="formulario" (keyup.enter)="register()">
    <input type="text" placeholder="Nombre de usuario" [(ngModel)]="username" name="username">
    <input type="password" placeholder="Contraseña" [(ngModel)]="password"name="password">
    <select  id="select" name="rol" [(ngModel)]="rol" >
      <option  value="1">User</option>
      <option  value="0">Admin</option>
    </select>
    
    <button (click)="register()">Registrar</button>
    
</div>
</div>

  <div *ngIf="correct === aceptado">
    {{correct}}
    
    <button routerLink="/login" >Ve al Login</button>
  </div>

  <div *ngIf="correct !== aceptado">
      {{correct}}
 </div>
