div{
    display: flex;
}


div#info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    input{
        all:unset;
        border-bottom: 1px solid black;
        margin: 1em 0;
        max-width: 200px;
        color: black;
        text-align: center;
       
    }
    [type="submit"]{
        border:0.5em;
        border-radius: 2em;
        padding: 0.25em;
        border: solid grey 0.3em; 
        background:white;
        
    }


}

:hover{
        background: solid green;

}

div#shutup{
    display: flex;
    justify-content: center;
}
div#formulario{
    display: flex; 
    padding: 1em;
    background: white;
    border-radius: 2.5em;
    margin: 0em;
    
   
    }