div{
    display: flex;
}


div#info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    input{
        all:unset;
        border-bottom: 1px solid black;
        margin: 1em 0;
        max-width: 200px;
        color: black;
       
    }
    [type="submit"]{
        border:0.5em;
        border-radius: 2em;
        border: solid grey 0.3em; 
        background:white;
        :hover{
            border-radius: 3em;
        }
    }


}