div{
    display: flex;
}

div#info{
    display: flex;
    flex-direction: column;
    align-items: center;

}

input#id{
    :hover{
        background: red;
    }
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    input{
        all:unset;
        border-bottom: 1px solid black;
        margin: 1em 0;
        max-width: 200px;
        color: black;
        text-align: center;
       
    }
    
        
        
    


}

div#shutup{
    display: flex;
    justify-content: center;
}
div#formulario{
    display: flex; 
    padding: 2em;
    background: white;
    border-radius: 2.5em;
    margin: 0.5em;
    
    
   
}
button{
        border:0em;
        border-radius: 2em;
        padding: 0.25em;
        border: solid grey 0.3em; 
        background:linear-gradient(to right,rgb(10, 133, 47),rgb(117, 238, 117));;;
}   

form{
    
    div{
        display: flex;
        flex-direction: column;

    }
}