<navbarprincipal></navbarprincipal>
<div class="info">
 <strong> Nombre de Usuario: </strong> 
 <i> {{user.username}} </i>
</div>  
<div>  
<strong> Rol: </strong>
<i>{{user.role === 1 ? 'User': 'Admin'}}</i>
</div>

<form (submit)=addJiraSetings()>
<div>
  Nombre de usuario Jira 
</div>
  <div>
    <input type="text" placeholder="Nombre de Usuario Jira" [(ngModel)]="jira.username" name="jira.username">
  </div>
  <div>
    Contraseña Jira 
  </div>
  <div>  
<input type="password" placeholder="Contraseña" [(ngModel)]="jira.pass" name="jira.pass">
</div>  
<div>
  Proyecto  
</div>
<div>
<input type="text" placeholder="Proyecto" [(ngModel)]="jira.proyect" name="jira.proyect">
</div>  
<div>
  Componente  
</div>
<div>
  <input type="text" placeholder="Componente" [(ngModel)]="jira.component" name="jira.component">
</div>  
<div>
  Url  
</div>
<div>
<input type="text" placeholder="Url" [(ngModel)]="jira.url" name="jira.url">
</div>
<div>  
<input type="submit" value="Confirmar Cambios" >
</div>
</form>