<navbarprincipal></navbarprincipal>
<div class="info">
 <strong> Nombre de Usuario: </strong> 
 <i> {{username}} </i>
</div>  
<div>  
<strong> Rol: </strong>
<i>{{role === 1 ? 'User': 'Admin'}}</i>
</div>
<div id="shutup">
<div id="formulario">
<form (submit)= "sendUserJiraInfo()">
<div>
 <strong>Nombre de usuario Jira</strong>  
</div>
  <div>
    <input type="text" placeholder="Nombre de Usuario Jira" [(ngModel)]="usernamejira" name="usernamejira">
  </div>
  <div>
    <strong>Contraseña Jira</strong>  
  </div>
  <div>  
<input type="password" placeholder="Contraseña" [(ngModel)]="pass" name="pass">
</div>  
<div>
  <strong>Proyecto</strong>   
</div>
<div>
<input type="text" placeholder="Proyecto" [(ngModel)]="proyect" name="proyect">
</div>  
<div>
  <strong>Componente</strong>   
</div>
<div>
  <input type="text" placeholder="Componente" [(ngModel)]="component" name="component">
</div>  
<div>
  <strong>Url</strong>   
</div>
<div>
<input type="text" placeholder="Url" [(ngModel)]="url" name="url">
</div>
<div>  
<input type="submit" value="  Confirmar Cambios  " >
</div>
</form>
</div>
</div>