<nav id="principal">
   
  <img src="../../assets/gtt_300.jpg" alt="">
  <div class="custom-select">
  <select (change)="changeHomePage($event)">
    <option>Menú ⏬</option>
    <option value="/home" >Home</option>
    <option value="/register" *ngIf="role ==='0'">Registro de Usuarios</option>
    <option value="/options">Opciones</option>
    <option value="/upload" *ngIf="role ==='0'">Carga Certificados</option>    
    <option value="/logout">Cerrar Sesión</option>

  </select> 
  </div>
</nav>

