nav#principal{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right,rgb(10, 133, 47),rgb(117, 238, 117));
    border-radius: 2em;
    border: 0.1em solid black;
}

img{
  border-radius: 2em;
}

select{
  all: unset;
  text-align: center;
  background: white;
  color: black;
  border-radius: 2em;
  border: solid grey 0.15em;
  
}

