<navbarprincipal></navbarprincipal>
<div class="content" *ngIf="certificado">
<div class="cabeza">
  <div>
    Alias:
  </div>
  <div id="entidad">
    Entidad Emisora:
  </div>
  <div>
    Numero de Serie:
  </div>
  <div id="sujeto">
    Subject:
  </div>
  <div>
    Fecha Caducidad:
  </div>
  <div>
    Id Organización:
  </div>
  <div>
    Nombre Cliente:
  </div>
  <div>
    Lista integraciones:
  </div>
  <div>
    Email:
  </div>
  <div>
    Repositorio:
  </div>
  <div>
    Observaciones:
  </div>
</div>

<div class="datos">
  <div>
    {{certificado.alias}}
  </div>
  <div id="identidad">
    {{certificado.entidadEmisora}}
  </div>
  <div>
    {{certificado.numeroSerie}}
  </div>
  <div id="sujeto">
    {{certificado.subject}}
  </div>
  <div>
    {{certificado.fechaCaducidad}}
  </div>
  <div>
    {{certificado.idOrga}}
  </div>
  <div>
    {{certificado.nombreCliente}}
  </div>
  <div>
    {{certificado.listaIntegraciones}}
  </div>
  <div>
    {{certificado.email}}
  </div>
  <div>
    {{certificado.repositorio}}
  </div>
  <div>
    {{certificado.observaciones}}
  </div>

</div>
</div>

<div class="container">
<div class="Botones">
  <button *ngIf="rol==='0'" routerLink="/certificatechange/{{certificado.id}}">Editar Información </button>
  <button (click)="download()">Descargar Certificado</button>
</div>
</div>