.content{
    display: flex;
    margin: 10px;
    

    .cabeza{
        background: white;
        border: 1px solid black;
        width: 38vw;
        text-align: center;
        align-self: center;
        
        display: flex;
        flex-direction: column;
        
        div{
            border: 1px solid black;
        }
        div#sujeto{
            height: 80px;
            
        }
        div#entidad{
            height: 45px;
        }
        

    }
    .datos{
        
        padding: 0.2em;
        display: grid;
        grid-gap: 2px;
        
        div{
            
            border: 20px;
        }
        div#sujeto{
            margin: 0.5em;
        }
    }
}

.botones{
    display: flex;
    align-content: center; 
}
