<navbarprincipal></navbarprincipal>
 <div class="filtro">
     <p>Filtra entre tus certificados:</p>
    <input type="text" placeholder="Filtra tu búsqueda...">  
 </div> 

 <div class="certificados">
   
    <button (click)="ordenateSortAlias()">ALIAS</button>
    <button >SUBJECT</button>
    <button (click)="ordenateSortCad()">FECHA CADUCIDAD</button>
    <button (click)="ordenateSortNom()">NOMBRE CLIENTE</button>
    <button>OPCIONES</button>

 </div>

<div class="certificados-body">
 <div class="certificados-item" *ngFor="let certificados of certificates">
    <div class="unic {{certificados.eliminado?'eliminado':'' }}">
        {{certificados.alias}}
    </div>

    <div class="unic">
        {{certificados.subject.split('CN=')[1].split(',')[0] }}
    </div>
    <div class="unic">
        {{certificados.fechaCaducidad}}
    </div>
    <div class="unic">
        {{certificados.nombreCliente}}
    </div>
    
        <div id="botones" class="unic">
        <button (click)="isDeleted()">❌</button>
        <button routerLink="/certificate/{{certificados.id}}">📑</button>
        <button (click)="download(certificados)">💾</button>
        </div>
    </div>
</div>
