div{
    display: flex;
    flex-direction: column;
    align-items: center;
    input{
        all: unset;
        border: solid grey 0.15em;
        background: linear-gradient(to right,rgb(10, 133, 47),rgb(117, 238, 117));
        color: white;
        text-align: center;
        border-radius: 2em;

    }
}

.certificados{
    margin: 4vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
    div{
        border: 3px solid green;
        background: linear-gradient(to right,rgb(10, 133, 47),rgb(117, 238, 117));
        border: 2px solid black;
    }
}

.certificados-for{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    div{
        border: 3px solid green;
        background: white;
        border: 2px solid black; 
    }
}
 
