div{
    display: flex;
    flex-direction: column;
    align-items: center;
    input{
        all: unset;
        border: solid grey 0.15em;
        background: linear-gradient(to right,rgb(10, 133, 47),rgb(117, 238, 117));
        color: white;
        text-align: center;
        border-radius: 2em;

    }
}

.certificados{
    
    margin: 4vh;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    
    button{
        all: unset;
        border: 2px solid black;
        background: linear-gradient(to right,rgb(10, 133, 47),rgb(117, 238, 117));
        text-align: center;
        border-radius: 2em;
    }
    
    div{
        border: 3px solid green;
        background: linear-gradient(to right,rgb(10, 133, 47),rgb(117, 238, 117));
        border: 2px solid black;
    }
}

.certificados-item{
    display: contents;
    div{
        height: 2px;
    }
    
}

div#botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 4.5em;
    button{
        all: unset;
        margin: 1em;
    }
}

.certificados-body{
    display: grid;
    margin:4vh;
    max-height: 300px;
    overflow: auto;
    
    grid-template-columns: repeat(5,1fr);
    div{
        height: 3em;
        border: 3px solid green;
        background: white;
        border: 2px solid black; 
    }
    .caducado{
        opacity: 0.7;
        text-decoration: line-through;
        background: red;
    }

}

.certificados-bodyeliminado{
    display: grid;
    margin:4vh;
    max-height: 300px;
    overflow: auto;
    
    grid-template-columns: repeat(5,1fr);
    div{
        height: 3em;
        border: 3px solid green;
        background: red;
        border: 2px solid black; 
    }

}

#tamanyoAdapted{
    height: 4.5em;
    justify-content: center;
}
