<navbarprincipal></navbarprincipal>
  

 <div class="certificados">
   
    <button (click)="ordenateSortAlias()">ALIAS</button>
    <button >SUBJECT</button>
    <button (click)="ordenateSortCad()">FECHA CADUCIDAD</button>
    <button (click)="ordenateSortNom()">NOMBRE CLIENTE</button>
    <button>OPCIONES</button>

 </div>

<div class="certificados-body">
 <div class="certificados-item" *ngFor="let certificados of certificates" >
    <div class="unic {{certificados.caducado?'caducado':'' }}" id="tamanyoAdapted">
        {{certificados.alias}}
    </div>

    <div class="unic"id="tamanyoAdapted">
        {{certificados.subject.split('CN=')[1].split(',')[0] }}
    </div>
    <div class="unic"id="tamanyoAdapted">
        {{certificados.fechaCaducidad}}
    </div>
    <div class="unic"id="tamanyoAdapted">
        {{certificados.nombreCliente}}
    </div>
    
        <div id="botones" class="unic">
        <button *ngIf="role ==='0'" routerLink="/certificatechange/{{certificados.id}}">✅</button>
        <button *ngIf="certificados.ticket_creado===false && certificados.caducado === true" routerLink = "/addJiraTicket/{{certificados.id}}">👨‍🔧</button>
        <button routerLink="/certificate/{{certificados.id}}">📑</button>
        <button (click)="download(certificados)">💾</button>
        </div>
    </div>
</div>
