div#container{
    display: flex;
    justify-content: center;
}
div#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5em;
    background:white ;
    padding: 2em;
    border-radius: 2em;

    
    
    input{
        all:unset;
        text-align: center;
        border-bottom: 1px solid black;
        margin: 1em 0;
        max-width: 200px;
        color: black;
       
    }
    button{
        border:0.2em solid grey;
        background:rgb(36, 189, 36);
        padding: 0.25em;
        color: black;
        border-radius: 1em;
    }


}

div#error{
    text-align: center;
    color: red;
}