<navbarprincipal></navbarprincipal>
<h2>CARGA DE CERTIFICADOS</h2>
<div id="display">
<div id="jaja">
<div class="formulario">
<form >
    
    <input type="text" name="alias" placeholder="Alias" [(ngModel)]="alias">
    <input type="password" name="pass" placeholder="Contraseña" [(ngModel)]="password">
    <input type="text" name="idorga" placeholder="Nombre Cliente/Id Organización" [(ngModel)]="idorga">
    <input type="text" name="contact" placeholder="E-mail Contacto" [(ngModel)]="contact">
    <input type="text" name="repository" placeholder="Repositorio" [(ngModel)]="repository">
    <textarea id="obs" type="text" name="integrations" placeholder="Integraciones" [(ngModel)]="integrations"></textarea>
    <textarea id="obs" type="text" name="observations" placeholder="Observaciones" [(ngModel)]="observations"></textarea>
    <input (change)="obtainCert($event)" type="file" accept=".p12,.pfx" (change)="changeListener($event)">
</form>
</div>
</div>
</div>
