<navbarprincipal></navbarprincipal>
<h2>EDICIÓN DE CERTIFICADO </h2>
<div id="display" >
<div id="jaja">
<div class="formulario" >
<form *ngIf="certIni">
    
    <input type="text" name="certIni.alias" placeholder="Alias" [(ngModel)]="certIni.alias">
    <input type="password" name="certIni.pass" placeholder="Contraseña" [(ngModel)]="certIni.password">
    <input type="text" name="certIni.idorga" placeholder="Nombre Cliente/Id Organización" [(ngModel)]="certIni.idorga">
    <input type="text" name="certIni.contact" placeholder="E-mail Contacto" [(ngModel)]="certIni.contact">
    <input type="text" name="certIni.repository" placeholder="Repositorio" [(ngModel)]="certIni.repository">
    <textarea id="obs" type="certIni.text" name="integrations" placeholder="Integraciones" [(ngModel)]="certIni.integrations"></textarea>
    <textarea id="obs" type="certIni.text" name="observations" placeholder="Observaciones" [(ngModel)]="certIni.observations"></textarea>
    <input (change)="obtainCert($event)" type="file" accept=".p12,.pfx">
</form>
</div>
</div>
</div>