<navbarprincipal></navbarprincipal>
<h2>EDICIÓN DE CERTIFICADO </h2>
<div id="display" >
<div id="jaja">
<div class="formulario" >
<form *ngIf="certIni">
    <div>
        <strong>ALIAS</strong>
        <input type="text" name="certIni.alias" placeholder="Alias" [(ngModel)]="certIni.alias">
    </div>
    <div>
        <strong>ID ORGANIZACIÓN</strong>
        <input type="text" name="certIni.idOrga" placeholder="Nombre Cliente/Id Organización" [(ngModel)]="certIni.idOrga">
    </div>
    <div>
        <strong>E-MAIL</strong>
        <input type="text" name="certIni.email" placeholder="E-mail Contacto" [(ngModel)]="certIni.email">    
    </div>
    <div>
        <strong>REPOSITORIO</strong>
        <input type="text" name="certIni.repositorio" placeholder="Repositorio" [(ngModel)]="certIni.repositorio">
    </div>
    <div>
        <strong>LISTA INTEGRACIONES</strong>
        <textarea id="obs" type="certIni.text" name="integrations" placeholder="Integraciones" [(ngModel)]="certIni.listaIntegraciones"></textarea>
    </div>
    <div>
        <strong>OBSERVACIONES</strong>
        <textarea id="obs" type="certIni.text" name="observations" placeholder="Observaciones" [(ngModel)]="certIni.observaciones"></textarea>
    </div>
    <button (click)="modifyCert()">Cambiar Iformación</button>
</form>
</div>
</div>
</div>